/* General Styles */
.post-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.2rem;
  margin: 0 !important;
  padding: 0 !important;
}

/* Make sure column margins are 0 */
.col {
  margin: 0 !important;
  padding: 1px !important; /* This small padding helps maintain space between images */
}

/* Grid View and Detailed View images */
.post-image,
.post-card img,
.tab-pane img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: none;
  padding: 0 !important;
}

/* Detailed View specific adjustments */
.tab-pane img {
  object-fit: contain;
}

/* Adjust for space on Y axis */
.post-card {
  margin-bottom: 0.2rem;
}

/* Adjustments for smaller screens (Responsive) */
@media (max-width: 576px) {
  .post-container {
    grid-template-columns: 1fr;
  }
}

/* Adjustments for large screens (Desktop) */
@media (min-width: 992px) {
  .post-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
