/* Estilo adicional para el cuerpo y botones */

.post-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.post-card {
  width: calc(33.333% - 1rem);
  box-sizing: border-box;
}
.post-card img {
  width: 100%;
  height: auto;
}
.post-card .post-info {
  padding: 10px;
}
.centered-btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 20px;
}
